@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pushster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pushster&family=Roboto:wght@100&display=swap");
.header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(64, 87, 109, 0.14);
}

.navS {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-color: #fff;
}
.navS .mainL p {
  font-size: 13px;
  color: #738f93;
}
.navS .navMain {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  height: 50px;
  width: 100%;
  padding: 0 40px;
  margin: 1px auto 0 auto;
  overflow: hidden;
  z-index: 1000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marginSec {
  margin-top: 70px !important;
}

.navbar {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  height: 60px;
  width: 100%;
  box-shadow: 0 15px 10px -15px rgba(17, 17, 17, 0.168627451);
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1680px;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: #fff;
}
.navbar .navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.navbar .navItems .leftNav {
  display: flex;
  align-items: center;
}
.navbar .navItems .leftNav svg {
  font-size: 32px;
  margin-right: 2rem;
  display: none;
  cursor: pointer;
}
.navbar .navItems .leftNav svg:hover {
  color: rgb(52, 52, 52);
}
.navbar .navItems .leftNav h1 {
  padding-right: 2.5rem;
  color: #5b21b6;
}
.navbar .navItems .listNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navbar .navItems .listNav .listNavUl {
  display: flex;
  height: 60px;
  align-items: center;
}
.navbar .navItems .listNav .listNavUl .navDropdown {
  position: fixed;
  top: 60px;
  z-index: 2000;
  display: none;
  background-color: #fff;
  padding: 1.2rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar .navItems .listNav .listNavUl .navDropdown svg {
  margin-left: 3.7rem;
}
.navbar .navItems .listNav .listNavUl .navDropdown .dropL {
  position: relative;
}
.navbar .navItems .listNav .listNavUl .navDropdown .dropL:hover .moreDropMenu {
  display: block;
}
.navbar .navItems .listNav .listNavUl .navDropdown li {
  padding: 0.8rem 2rem;
  color: #171c25;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: inherit;
}
.navbar .navItems .listNav .listNavUl .navDropdown li:hover {
  color: #5b21b6;
  cursor: pointer;
  font-weight: 500;
  background-color: #ececec;
  transition: all 0.2s;
}
.navbar .navItems .listNav .listNavUl .navDropdown .moreDropMenu {
  position: absolute;
  top: 0;
  left: 137px;
  display: none;
  z-index: 2000;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 190px;
}
.navbar .navItems .listNav li {
  list-style: none;
}
.navbar .navItems .listNav li:hover .navDropdown {
  display: block;
}
.navbar .navItems .listNav li svg {
  font-size: 2rem;
  margin: -4px;
}
.navbar .navItems .listNav li .active a {
  color: red;
  background-color: #fff;
}
.navbar .navItems .listNav li a {
  color: #0e1318;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 3rem;
  text-decoration: none;
  line-height: 60px;
}
.navbar .navItems .listNav li a:after {
  content: "";
  position: absolute;
  background-color: #5b21b6;
  height: 4.5px;
  width: 0;
  left: 0;
  bottom: -21px;
  transition: 0.3s;
}
.navbar .navItems .listNav li a:hover:after {
  width: 100%;
}
.navbar .rightNav {
  display: flex;
  text-transform: uppercase;
  align-items: center;
}
.navbar .rightNav .tubeIcon {
  width: 30px;
  height: 30px;
  margin: 0 2rem;
  color: #000;
  cursor: pointer;
}
.navbar .rightNav button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.navbar .rightNav .logBtn {
  background: #303741;
  margin-right: 10px;
  transition: all 0.1s ease-in;
  color: #fff;
}
.navbar .rightNav .logBtn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgb(41, 179, 91) 0px 3px 7px -3px;
  background: #374150;
}
.navbar .rightNav .signBtn {
  background: #5b21b6;
  color: #fff;
  transition: all 0.1s ease-in;
}
.navbar .rightNav .signBtn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgb(41, 179, 91) 0px 3px 7px -3px;
  background: #303741;
}
.navbar .rightNav .search {
  position: relative;
  margin-right: 1rem;
}
.navbar .rightNav .search .searchIcon {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
  padding: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  color: #738f93;
  font-size: 18px;
  cursor: pointer;
}
.navbar .rightNav .searchRap {
  position: relative;
  width: 100%;
}
.navbar .rightNav input {
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 7px 10px 7px 35px;
  width: 100px;
  height: 40px;
  border: none;
  background: none;
  color: #171c25;
  font-size: 16px;
  transition: all 0.2s ease-in;
  overflow: visible;
  z-index: 10;
}
.navbar .rightNav input:focus {
  width: 250px;
  color: #5b21b6;
  border: 1px solid rgb(214, 214, 214);
}
.navbar .rightNav h1 {
  color: #b7c9cc;
}

.sliderH3 span,
.sliderH4 span {
  z-index: 300;
}
.sliderH3 svg,
.sliderH4 svg {
  transition: all 0.1s ease-in;
}
.sliderH3 svg:hover,
.sliderH4 svg:hover {
  background: #5b21b6;
  color: #fff !important;
  border-color: #fff;
}

.sliderH2 .sDiv {
  padding: 0 1rem;
}
.sliderH2 .sDiv p {
  padding-top: 0.5rem;
  font-weight: 500;
}
.sliderH2 .sDiv img {
  border-radius: 8px;
}

.sliderH3 .sDiv {
  padding: 0 1.4rem;
  height: 300px;
}
.sliderH3 .sDiv img {
  border-radius: 4px;
}
.sliderH3 .sDiv h3 {
  line-height: 2rem;
  padding-top: 0.5rem;
  max-width: 22rem;
}
.sliderH3 .sDiv h3 a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  font-size: 1.7rem;
}
.sliderH3 .sDiv h3 a:hover {
  color: #5b21b6;
}

.sliderH4 .sDiv3 {
  display: flex !important;
  padding-bottom: 1.3rem;
  margin-bottom: 1.3rem;
}
.sliderH4 .pDiv {
  margin-right: 1.6rem;
  min-width: 100px;
}
.sliderH4 span {
  color: #767676;
  font-size: 1.1rem;
  line-height: 1;
}
.sliderH4 h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: bold;
}
.sliderH4 h3 a {
  color: #000;
  text-decoration: none;
}
.sliderH4 h3 a:hover {
  color: #5b21b6;
}

.sliderH1 h5 {
  font-size: 1.5rem;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.84);
  text-align: center;
  font-weight: lighter;
  margin: 1rem 1rem;
  white-space: nowrap;
  padding: 5px;
}
.sliderH1 h5:hover {
  cursor: pointer;
  background-color: rgba(64, 87, 109, 0.07);
  border-radius: 4px;
}

.section .sContainer {
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
  overflow: hidden;
}
.section .sContainer .contentBox2 {
  padding: 0 0 2rem 0;
  margin: 0 4.5rem 0;
}
.section .sContainer .contentBox2 .containerBox2 {
  width: 100%;
  height: 240px;
  background: #f8f9f9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.section .sContainer .contentBox2 .containerBox2 .cSlider {
  padding: 3rem 0;
}
.section .sContainer .contentBox {
  padding: 2rem 0;
  margin: 2rem 4.5rem 0;
}
.section .sContainer .contentBox1 {
  padding: 2rem 0 0 0;
  margin: 2rem 4.5rem 0;
}
.section .sContainer .contentBox1 .containerBox {
  width: 100%;
  height: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #5b21b6;
  background-image: linear-gradient(315deg, #5b21b6 0%, #9160e0 74%);
}
.section .sContainer .contentBox1 .containerBox .cItems h1 {
  font-size: 3.5rem;
  letter-spacing: -0.05rem;
  line-height: 1.3;
  font-family: "Pushster", cursive;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  padding: 2rem 0;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools {
  padding: 3rem 0;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolItems {
  display: flex;
  justify-content: center;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain {
  padding: 0 3rem;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding-top: 4px;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons2 {
  text-align: center;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons2 svg {
  width: 51px;
  font-size: 2px;
  padding: 8px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #111;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons2 svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons {
  text-align: center;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons svg {
  width: 51px;
  font-size: 2px;
  padding: 8px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  background: #303741;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section .sContainer .contentBox1 .containerBox .cItems .cTools .toolMain .cSvgIcons svg:hover {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  color: #111;
  cursor: pointer;
}
.section .sContainer .contentBox1 .containerBox .cItems .cSearch {
  position: relative;
}
.section .sContainer .contentBox1 .containerBox .cItems .cSearchRap {
  text-align: center;
  position: relative;
}
.section .sContainer .contentBox1 .containerBox .cItems .cSearchRap .cSearchIcon {
  position: absolute;
  width: 2.2rem;
  color: #0e1318;
  height: 2.1rem;
  top: 10px;
  margin-left: 1rem;
  cursor: pointer;
}
.section .sContainer .contentBox1 .containerBox .cItems .cSearchRap input {
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 7px 10px 7px 50px;
  width: 100%;
  height: 40px;
  max-width: 600px;
  color: #171c25;
  font-size: 16px;
  transition: all 0.2s ease-in;
}

.recomSection {
  display: flex;
}
.recomSection .rHeading {
  width: 65%;
  max-width: 65%;
  padding-right: 2.4rem;
  overflow: hidden;
}
.recomSection .rHeading p {
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
  line-height: 1.74;
  color: #222;
  word-wrap: break-word;
}
.recomSection .rHeading .yItems h3 {
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: 1.8rem;
}
.recomSection .rHeading .yItems h2 {
  font-size: 2.7rem;
  line-height: 3.8rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}
.recomSection .rHeading .yItems .yLi li {
  list-style: inside;
  padding-bottom: 1.4rem;
}
.recomSection .rHeading .yItems .yLi li a {
  text-decoration: none;
  color: #4db2ec;
  word-spacing: 0.2rem;
}
.recomSection .rHeading .yItems .yLi li a:hover {
  text-decoration: underline;
}
.recomSection .rHeading .youtubeMain {
  width: 100%;
  height: 45rem;
  background-color: #e4e4e4;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.recomSection .rHeading .youtubeMain .yVideo {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.recomSection .rHeading .loadRecent {
  display: flex;
  justify-content: center;
}
.recomSection .rHeading .loadRecent button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767676;
  font-size: 1.2rem;
  background: #fff !important;
  line-height: 1;
  padding: 8px 10px;
  border: 1px solid #c9c9c9;
  padding-left: 1.4rem;
}
.recomSection .rHeading .loadRecent button:hover {
  cursor: pointer;
  background: #5b21b6 !important;
  color: #fff;
}
.recomSection .rHeading .loadRecent .downRecent {
  margin-left: 0.3rem;
}
.recomSection .rHeading2 {
  width: 35%;
  padding-left: 2.4rem;
  overflow: hidden;
}
.recomSection .rHeading2 .followUs {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin-bottom: 7rem;
}
.recomSection .rHeading2 .followUs a {
  text-decoration: none;
  color: #111;
}
.recomSection .rHeading2 .followUs a:hover {
  box-shadow: rgb(41, 179, 91) 0px 2px 8px 0px;
}
.recomSection .rHeading2 .followUs .sBox {
  width: 100px;
  height: 100px;
  background-color: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recomSection .rHeading2 .followUs .sBox .fIcon {
  color: #4267b2;
}
.recomSection .rHeading2 .followUs .sBox .iIcon {
  color: #8a3ab9;
}
.recomSection .rHeading2 .followUs .sBox .yIcon {
  color: #ff0000;
}
.recomSection .rHeading2 .followUs .sBox svg {
  font-size: 2.8rem;
}
.recomSection .rHeading2 .followUs .sBox h3 {
  padding: 0.5rem 0;
}
.recomSection .rHeading2 .followUs .sBox p {
  font-size: 1.5rem;
}
.recomSection .rHeading2 .catH {
  margin-top: 7rem !important;
}
.recomSection .rHeading2 .catRecent a {
  display: flex;
  padding: 0.1rem 1rem 0.1rem 1.2rem;
  text-decoration: none;
  line-height: 3rem;
  color: #111;
  justify-content: space-between;
}
.recomSection .rHeading2 .catRecent a:hover {
  color: #4db2ec;
}
.recomSection .rHeading,
.recomSection .rHeading2 {
  overflow: hidden;
}
.recomSection .rHeading h1,
.recomSection .rHeading2 h1 {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 2.6rem;
  border-bottom: 2px solid #222;
}
.recomSection .rHeading h1 span,
.recomSection .rHeading2 h1 span {
  line-height: 1.7rem;
  display: inline-block;
  padding: 0.7rem 1.2rem 0.4rem;
  background-color: #222;
  color: #fff;
}

.rPostMain {
  display: flex;
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
}
.rPostMain .rPostImg {
  min-width: 22.3rem;
  padding-right: 2.6rem;
}
.rPostMain .rPostItems .rSpan {
  color: #111 !important;
  font-weight: 600 !important;
}
.rPostMain .rPostItems span {
  color: #767676;
  font-size: 1.1rem;
  line-height: 1;
}
.rPostMain .rPostItems p {
  font-size: 1.5rem;
  color: #767676;
  margin-top: 20px;
  line-height: 2.1rem;
}
.rPostMain .rPostItems h3 {
  word-break: break-all;
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 400 !important;
}
.rPostMain .rPostItems h3 a {
  color: #111;
  text-decoration: none;
}
.rPostMain .rPostItems h3 a:hover {
  color: #5b21b6;
}

.parentDiv {
  position: relative;
}

.copyDiv {
  position: absolute;
  right: 14px;
  top: 14px;
  color: #bbb;
  background-color: rgba(149, 157, 165, 0.2);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 4px 4px;
  transition: 0.1s;
}
.copyDiv:hover {
  cursor: pointer;
  color: #000;
}

.tagItem .tagMain ul {
  display: flex;
  flex-wrap: wrap;
}
.tagItem .tagMain li {
  list-style: none;
  line-height: 2rem;
  margin-left: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-right: 0.4rem;
}
.tagItem .tagMain li span {
  background-color: #222;
  padding: 0.5rem 0.9rem;
  color: #fff;
  line-height: 1rem;
  height: 2rem;
}
.tagItem .tagMain li a {
  border: 1px solid #ededed;
  padding: 0.5rem 0.9rem;
  color: #222;
  line-height: 1rem;
  height: 2rem;
  transition: all 0.2s;
}
.tagItem .tagMain li a:hover {
  color: #fff;
  background-color: #5b21b6;
  cursor: pointer;
}

.hMainItem {
  display: flex;
  justify-content: space-between;
  margin: 4rem 3rem;
}
.hMainItem .hSocial a svg {
  color: #fff;
  font-size: 22px !important;
  margin-right: 2rem;
}
.hMainItem svg {
  color: #fff;
  font-size: 25px;
}

.hiddenBar {
  position: fixed;
  left: -100%;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.99;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  z-index: 999999;
  transition: all 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.hLeft {
  left: 0 !important;
  transition: all 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

@media (max-width: 745px) {
  .navbar .navItems .listNav {
    display: none;
  }
  .navbar .navItems .leftNav svg {
    display: block;
  }
}/*# sourceMappingURL=Home.module.css.map */